@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@font-face {font-family: 'HANBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/HANBatang.woff') format('woff'); font-weight: normal; font-style: normal;}

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* layout */
body {font-family: 'NanumSquare';}
.wrap {width: 100%; overflow: hidden;}


header {width: 100%; height: 85px; line-height: 85px; position: fixed; z-index: 100; transition: all 0.2s;}
header.on {background: #fff; box-shadow: 2px 0 6px rgba(0,0,0,0.2); transition: all 0.2s;}
header .innerHeader {width: 85%; height: 100%; position: relative; margin: 0 auto; overflow: hidden;}
header .innerHeader a {display: block; width: 100%; height: 100%;}
header .innerHeader .logo {width: 20%; position: absolute; left: 50%; top: 22px; transform: translateX(-50%); text-align: center; font-size: 33px; line-height: 0.7; font-family: 'Noto Serif', serif; font-weight: lighter; letter-spacing: 1px;}
header .innerHeader .logo span {font-size: 16px;}
header .innerHeader .left {float: left;}
header .innerHeader .left li {float: left; font-size: 16px; margin-right: 30px;}
header .innerHeader .right {float: right; position: relative;}
header .innerHeader .right li {float: left; font-size: 16px; margin-right: 30px;}
header .innerHeader .right li:nth-child(2) {color: #B79383; margin-right: 60px;}

/* menuOpen */
.menuOpen {width: 500px; overflow: hidden; background: #DCD2C8; height: 100vh; position: fixed; top: 0; right: -500px; z-index: 100; transition: all 0.5s;}
.menuOpen .close {position: absolute; top: 30px; right: 50px;}
.menuOpen .menuwrap {margin-top: 150px; margin-left: 80px;}
.menuOpen .menuwrap ul li {font-family: 'Noto Serif', serif; font-size: 40px; margin-bottom: 50px;}
.menuOpen .menuwrap .bottom {padding-top: 30px; border-top: 1px solid #707070; position: absolute; bottom: 40px; left: 80px; width: 300px}
.menuOpen .menuwrap .customer {font-size: 16px; color: #707070; margin-bottom:  15px;}
.menuOpen .menuwrap .contact {font-size: 16px; color: #707070; margin-bottom:  15px;}
.menuOpen .menuwrap .sns {display: flex; justify-content: space-between; width: 100px;}
.menuOpen .menuwrap .sns p {width: 27px;}
.menuOpen .menuwrap .sns p img {width: 100%;}

/* menuOpen.on */
.menuOpen.on {transition: all 0.5s; right: 0;}

.offer {width: 100%;}
.inner {width: 73%; margin: 0 auto 100px; overflow: hidden; padding-top: 280px;}
.inner .left {font-size: 22px; color: #9f9f9f; float: left; width: 280px; display: flex; justify-content: space-between;}

/* hover */
.inner .left a:hover {color: #000; transition: all 0.2s;}

.inner .left .all {color: #000; border-bottom: 1px solid #000;}
.inner .right {float: right; position: relative;}
.inner .right .search {font-size: 16px; color: #9f9f9f; padding: 0 100px 7px 3px; box-sizing: border-box; border-bottom: 1px solid #9f9f9f;}
.inner .right .img {position: absolute; top: 0; right: 0;}
.inner .slide {width: 100%; margin-top: 100px;}
.inner .slide .box {float: left; width: 30%; margin-right: 5%; margin-bottom: 122px;}
.inner .slide .box:nth-child(3), .inner .slide .box:nth-child(6), .inner .slide .box:nth-child(9), .inner .slide .box:nth-child(12), .inner .slide .box:nth-child(15) {margin-right: 0;}
.inner .slide .box .img {width: 100%; margin-bottom: 10px; overflow: hidden;}
.inner .slide .box .img img {width: 100%;}
.inner .slide .box .date {font-size: 14px; color: #707070; margin-bottom: 18px;}
.inner .slide .box .content {font-size: 16px; line-height: 1.7; margin-bottom: 75px; width: 100%;}
.inner .slide .box:nth-child(2) .content, .inner .slide .box:nth-child(6) .content, .inner .slide .box:nth-child(8) .content {margin-bottom: 48px;}
.inner .slide .box:nth-child(14) .content {margin-bottom: 102px;}
.inner .slide .box .content span {font-size: 25px; font-family: 'HANBatang'; font-weight: bold; margin-bottom: 20px; display: inline-block;}
.inner .slide .box .btn {width: 87px;}
.inner .slide .box .btn a {position: relative; padding-bottom: 3px; display: block; width: 100%; height: 100%;}
.inner .slide .box .btn .view {color: #B79383; font-size: 16px;}

/* hover */
.inner .slide .box .btn a::before {content: ''; position: absolute; background: #b79383; height: 1px; width: 0; bottom: 0; left: 50%; transform: translateX(-50%); transition: all 0.3s;}
.inner .slide .box .btn a:hover:before {width: 100%; transition: all 0.3s;}
/* fin */

/* animation */
@-webkit-keyframes up-ani {
    0% {opacity: 0; transform: translateY(50px);}
    30% {opacity: 0; transform: translateY(50px);}
}
@keyframes up-ani {
    0% {opacity: 0; transform: translateY(50px);}
    30% {opacity: 0; transform: translateY(50px);}
}

.inner .slide li:nth-child(1),.inner .slide li:nth-child(2),.inner .slide li:nth-child(3) {-webkit-animation-name: up-ani;animation-name: up-ani; -webkit-animation-duration: 1s; animation-duration: 1s;}

.inner .slide li.motion {-webkit-animation-name: up-ani;animation-name: up-ani; -webkit-animation-duration: 1s; animation-duration: 1s;}
/* fin */


footer {width: 100%; height: 380px; background: #303030; font-size: 13px; padding-top: 85px; box-sizing: border-box;}
.innerfooter {width: 75%; color: #b2b2b2; margin: 0 auto;}
.innerfooter .top {width: 100%; overflow: hidden;}
.innerfooter .top ul {width: 32%; display: flex; justify-content: space-between; float: left; margin-bottom: 40px; color: #fff;}
.innerfooter .top .right {width: 7%; float: right; margin-top: 13px; color: #fff; position: relative;}
.innerfooter .top .right::before {position: absolute; top: 0px; right: 2px; content: '\f13a'; font-size: 14px; font-family: fontAwesome;}
.innerfooter .middle {width: 100%; margin-bottom: 50px;}
.innerfooter .middle .first {width: 100%; margin-bottom: 8px;}
.innerfooter .middle .second {width: 34%; margin-bottom: 8px; display: flex; justify-content: space-between;}
.innerfooter .middle .third {width: 30%; margin-bottom: 8px; display: flex; justify-content: space-between;}
.innerfooter .bottom {width: 100%; padding-top: 35px; border-top: 1px solid #b2b2b2; overflow: hidden;}
.innerfooter .bottom .txt {float: left; width: 30%;}
.innerfooter .bottom .images {width: 9%; display: flex; justify-content: space-between; float: right;}
.innerfooter .bottom .images .insta {width: 32px;}
.innerfooter .bottom .images .insta img {width: 100%;}
.innerfooter .bottom .images .kakao {width: 32px;}
.innerfooter .bottom .images .kakao img {width: 100%;}
.innerfooter .bottom .images .facebook {width: 32px;}
.innerfooter .bottom .images .facebook img {width: 100%;}